.newToDoInput {
  background-color: rgb(34, 39, 43);
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 8px 12px;
  width: 256px;
  height: 56px;
  margin-bottom: 8px;
  text-align: start;
}
